{% extends 'master.html.twig' %}
{% block content %}
    <div class="container">
        <form action="{{ path('update_ticket',{'id' : ticket.id}) }}" method="POST"
              style="border: 1px solid black"
              class="col-sm-10 mt-5 mx-auto">
            <h5>Edit Event</h5>
            <input type="hidden" name="_method" value="put" />
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.message   }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"><label for="name">Name</label></div>
                    <div class="col-sm-8"><input type="text" name="name" id="name" value="{{ ticket.name }}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><label for="description">Description</label></div>
                    <textarea style="border: 1px solid black" id="description" name="description" >{{ ticket.description }}</textarea>
                </div>
                <div class="row">
                    <div class="col-sm-4"><label for="start_at">Start At</label></div>
                    <div class="col-sm-8"><input type="datetime-local" name="start_at" id="start_at" value="{{  ticket.StartAt|date('Y-m-d\\TH:m') }}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><label for="end_at">End at</label></div>
                    <div class="col-sm-8"><input type="datetime-local" name="end_at" id="end_at" value="{{  ticket.EndAt|date('Y-m-d\\TH:m') }}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><label for="price">Price</label></div>
                    <div class="col-sm-8"><input min="1" type="text" name="price" id="price" value="{{ ticket.price }}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><label for="nums_of_ticket">Nums of ticket(s)</label></div>
                    <div class="col-sm-8"><input min="1" type="text" name="nums_of_ticket" id="nums_of_ticket" value="{{ ticket.NumsOfTicket }}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success m-2">Update</button>
                    </div>
                </div>


            </div>

        </form>
    </div>
{% endblock %}